/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Custom CSS Styling */

/* Global*/

body.nav-open {
  overflow: hidden;
}

a {
  color: #2977cc;
  text-decoration: none;
}

.btn-primary {
  display: inline-block;
  padding: 0.833rem 1.2rem;
  background-color: #222;
  color: #fff;
  border-radius: 8px;
}

.btn-secondary {
  display: block;
  margin: 0.833rem 0 0 0;
}

.mw-container {
  width: 100%;
  max-width: 1080px;
  padding: 2.074rem;
  margin: 0 auto;
}

/* Typography */

body {
  font-family: "General Sans", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #444;
}

/* a {
  color: inherit;
} */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: #222;
}

.h1 {
  font-size: 2.986rem;
  letter-spacing: -0.02rem;
  line-height: 1;
}

.h2 {
  font-size: 2.488rem;
  letter-spacing: -0.0175rem;
  line-height: 1.1;
}

.h3 {
  font-size: 2.074rem;
  letter-spacing: -0.015rem;
  line-height: 1.2;
}

.h4 {
  font-size: 1.728rem;
  letter-spacing: -0.0125rem;
  line-height: 1.3;
}

.h5 {
  font-size: 1.44rem;
  letter-spacing: -0.01rem;
  line-height: 1.4;
}

.h6 {
  font-size: 1.2rem;
  letter-spacing: -0.0075rem;
}

.large-copy {
  font-size: 1.2rem;
}

.base-copy {
  font-size: 1rem;
}

.fine-print {
  font-size: 0.833rem;
}

.extra-fine-print {
  font-size: 0.694rem;
}

.center {
  text-align: center;
}

/* Nav */

.nav {
  width: 100%;
}

.nav-container {
  width: 100%;
  max-width: 1080px;
  padding: 1rem 2.074rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger span {
  width: 2rem;
  height: 0.25rem;
  background-color: #222;
  border-radius: 10px;
  transition: all 0.3s ease;
  transform-origin: 1px;
}

.hamburger span:first-child {
  transform: rotate(0);
}

.hamburger span:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
}

.hamburger span:nth-child(3) {
  transform: rotate(0);
}

/* Hamburger active state */
body.nav-open .hamburger span:first-child {
  transform: rotate(45deg);
}

body.nav-open .hamburger span:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

body.nav-open .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  padding: 0 0 0 2.986rem;
  opacity: 0;
  transition: 0s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #eee;
}

.nav-menu.active {
  opacity: 1;
  z-index: 99;
  transition: 0.3s;
}

.nav-menu > ul {
  padding: 0;
  list-style-type: none;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.social-links .nav__list-item {
  margin-right: 1.44rem;
}

.nav__list-item {
  margin: 0 0 1.44rem 0;
}

.nav-links .nav__list-item:last-child {
  margin-bottom: 2.986rem;
}

.nav__link {
  color: #222;
  font-family: "General Sans", sans-serif;
  font-size: 2.074rem;
  font-weight: 600;
}

.nav__link > svg {
  color: #222;
  width: 1.728rem;
  height: 100%;
}

/* Nav -- Media Queries */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-menu {
    position: static;
    width: initial;
    height: initial;
    z-index: 100;
    opacity: 1;
    display: flex;
    flex-direction: row;
    background-color: #fff;
  }

  .nav-links,
  .social-links {
    display: flex;
    flex-direction: row;
  }

  .social-links .nav__list-item {
    margin: 0;
  }

  .nav__list-item {
    margin: 0;
  }

  .nav-links .nav__list-item:last-child {
    margin-bottom: 0;
  }

  .nav__link {
    font-size: 1.2rem;
    margin: 0 0 0 1.44rem;
  }

  .nav__link > svg {
    display: inline-block;
    width: 1.2rem;
  }
}

/* Footer */

.footer {
  margin-top: 2.047rem;
  background-color: #f6f6f6;
}

.footer ul {
  padding: 0;
  margin: 0.833rem 0 2.047rem 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer li {
  margin: 0 0.833rem;
}

.footer .base-copy {
  color: #888;
}

/* Hero */

.hero {
  margin: 2.074rem 0;
}

.hero .mw-container {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero__title {
  margin: 0 0 1.44rem 0;
}

.hero__subtitle {
  margin: 0 0 1.44rem 0;
}

/* About */

.about__title {
  margin: 0 0 1.2rem 0;
}

.about__subtitle {
  margin: 0 0 2.074rem 0;
}

.chat-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4;
}

.chat-section ul {
  list-style-type: none;
}

.chat-card {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 1.44rem;
  margin: 0 0 1.44rem 0;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.chat-card-incoming {
  background-color: #eee;
  border-radius: 24px 24px 24px 0;
}

.chat-card-outgoing {
  background-color: #3395ff;
  color: #fff;
  border-radius: 24px 24px 0 24px;
}

.chat-card-outgoing li {
  margin-bottom: 0.833rem;
}

.chat-card-outgoing li:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .chat-card {
    width: calc(99% - 2.986rem);
  }

  .chat-card-outgoing::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 101%;
    width: 2.986rem;
    height: 2.986rem;
    border-radius: 50%;
    background: url(../images/logan-profile-pic.jpg);
    background-size: cover;
  }
}

.about__card > ul {
  padding: 0;
  list-style-type: none;
}

.about__card li {
  margin: 1rem 0;
}

/* Projects */

.projects__title {
  margin: 0 0 2.074rem 0;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.074rem;
}

.project__image {
  width: 100%;
  aspect-ratio: 3 / 2;
  background-color: #eee;
  border-radius: 8px;
  margin: 0 0 1.728rem 0;
}

.project__image img {
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.project__title {
  margin: 0 0 0.694rem 0;
}
