/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Custom CSS Styling */

html,
body {
  font-family: "Archivo", sans-serif;
  line-height: 1.5;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
}

.h1 {
  font-size: 2.986rem;
  letter-spacing: -0.02rem;
  line-height: 1;
}

.h2 {
  font-size: 2.488rem;
  letter-spacing: -0.0175rem;
  line-height: 1.1;
}

.h3 {
  font-size: 2.074rem;
  letter-spacing: -0.015rem;
  line-height: 1.2;
}

.h4 {
  font-size: 1.728rem;
  letter-spacing: -0.0125rem;
  line-height: 1.3;
}

.h5 {
  font-size: 1.44rem;
  letter-spacing: -0.01rem;
  line-height: 1.4;
}

.h6 {
  font-size: 1.2rem;
  letter-spacing: -0.0075rem;
}

.base-copy {
  font-size: 1rem;
}

.fine-print {
  font-size: 0.833rem;
}

.extra-fine-print {
  font-size: 0.694rem;
}
